mat-card {
  padding: 8px;
  background-color: #eac100;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(234, 193, 0, 0.25);
    backdrop-filter: blur(8px);
    a {
      color: #dee1ec;
      &:active {
        color: #fff;
      }
    }
  }
}

.login {
  background-color: #10316b;
}
